# Logging
# ------------------------------------------------------------------------------
# whether to set the log level to DEBUG
LOG_DEBUG=true
# log format to the stdout, stderr and /data/logs/app.log - either of json, plain
LOG_FORMAT=plain


# General
# ------------------------------------------------------------------------------
# escape in single quotes
SECRET_KEY='django-insecure-_telsl3x%w1u121&p60l05xv#7h!ka$yrhx(ase!sn7pb*&6+n'
DATABASE_URL=postgresql://user:password@db:5432/themoneyapp?sslmode=disable
REDIS_URL=redis://redis:6379/0
DOMAIN_NAME=localhost
# admin path - make sure that the path ends with a '/' and doesn't start with a '/'
ADMIN_URL=admin/


# Website Admin
# ------------------------------------------------------------------------------
# ADMIN_EMAIL: email, required.
ADMIN_EMAIL=admin@example.com
# ADMIN_NAME: string, optional. Defaults to "TheMoneyApp Admin"
# Admin name and email address - used to send error alerts.
ADMIN_NAME="TheMoneyApp Admin"
# ADMIN_EMAIL_SUBJECT_PREFIX: string, optional. Defaults to "[TheMoneyApp] "
# Subject-line prefix for email messages sent to the admin. You’ll probably want to include the trailing space.
ADMIN_EMAIL_SUBJECT_PREFIX="[TheMoneyApp] "


# Email
# ------------------------------------------------------------------------------
EMAIL_HOST=mailpit
EMAIL_PORT=1025
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_SSL=false
EMAIL_USE_TLS=false
EMAIL_FROM_ADDRESS=noreply@domain.tld


# Accounts
# ------------------------------------------------------------------------------
ACCOUNT_ALLOW_REGISTRATION=True


# Security
# ------------------------------------------------------------------------------
# whether to redirect http requests to https
# TIP: better off using DNS, however, redirect is OK too
SECURE_SSL_REDIRECT=false


# PRODUCTION-ONLY


# Gunicorn
# ------------------------------------------------------------------------------
SERVER_DEBUG=true
